<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>QuaranKobi</title>
  <style>
    label {
        font-size: 2em;
    }
    body {
        font-family: arial;
        backdrop-filter: blur(2px);
        color: white  ;
        text-size: 1.5em;
        background: url("https://i.imgur.com/xP7WJ73.jpg");
        text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    }
    .staff {
        width: 50vw;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
      font-size: 1.5em;
    }
    .header {
        position: absolute;
        width: 10vw;
        z-index: 10;
    }
    .content {
        font-family: "arial";
        text-align: center;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 10vh
    }
    .back_links {
        font-size: 2em;
    }
    .home_link {
    width: 10vw;
    border-radius: 20px
    }
    .help {
        background-color: yellow
    }
    .submit {
        padding: 1em;
    background: blue;
    color: white;
        border-radius: 20 px;
    }
  </style>
</head>
<body>
  <div class="header">
    <a href="/">
      <img class="home_link" src="homebutton.png">
    </a>
    <% if !name %>
    <form action="/set_name" method="POST">
      <label for="Name">Hey tell me your name</label>
      <input id="Name" name="Name" type="text"/>
      <br>
      <input value="go on then" type="submit">
    </form>
    <% end %>
    <div class="back_links">
      <a href="/day_1">day 1</a></br>
      <a href="/day_2">day 2</a></br>
      <a href="/day_3">day 3</a></br>
      <a href="/day_4">day 4</a></br>
      <a href="/day_5">day 5</a></br>
      <a href="/day_6">day 6</a></br>
      <a href="/day_7">day 7</a></br>
      <a href="/day_8">day 8</a></br>
      <a href="/day_9">day 9</a></br>
      <a class="help" href="mailto:helpmequarankobi@hotmail.com">help!</a></br>
    </div>
  </div>

  <div class="content">
    <div>
      <h1>
        Time to find out how good you are at copying things off screens!
      </h1>
      <h2>Put your code in below and find out if you fucked it up</h2>
      <form method="GET">
        <input type="text" name="code"/>
        <input class="submit" type="submit" value="hmmmm"/>
      </form>
      <% if correct %>
      <h1 style="color: lightgreen">Looks good to me, but what do I know? Morse code might as well be NORSE code to me, am I right?!</h1>
      <% end %>
      <% if incorrect %>
      <h1 style="color: red">Wrong, bruh.</h1>
      <% end %>
    </div>
  </div>
</body>
</html>
