:css
  body {
    background: black
  }
  .tiled-image {
    background-image: url("https://www.iamexpat.nl/sites/default/files/styles/ogimage_thumb/public/expat-management-travel-restrictions.jpg");
  }
  .contents {
    color: darkblue;
    font-family: "arial";
    text-align: center;
    padding-top: 5vh;
    backdrop-filter: blur(2px);
  }
  h1 {
    font-size: 4em;
    text-shadow:2px 2px 8px white;
  }
  h2 {
    font-size: 2em;
    text-shadow:2px 2px 8px white;
  }
  .container {
    font-size: 5em;
  }
  .hint {
    font-size: 3em;
  }
  .link_back{
    color: yellow
  }
  .home_link {
    width: 10vw;
    float: left
  }
  .help {
    background-color: yellow
  }

%body.tiled-image
  %a{ :href => "/" }
    %img.home_link(src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.geopoll.com%2Fwp-content%2Fuploads%2F2017%2F12%2Fcartoon-house.png&f=1&nofb=1")
    %br
  %div.contents
    %h2
      Bored in your room already?
      %br
      Why not explore some beautiful...ish… parts of the world.
      %br
      %br
      %br
      %a{ :href => "https://www.geoguessr.com/maps/5fede38b0f95370001fb9ce0/play" }
        %h2 Fun Game!

    - if score >= 15000
      %h2
        CONGRATULATIONS!
        Here's your clue:
        %br
        %br
        %div.hint
          🎈🎈🎈🎉 &nbsp;&nbsp; 🎈🎈🎉 &nbsp;&nbsp; 🎈
    - else
      %h2
        When you’re done, enter your high score.
        %br
        You have to reach a very smarty pants threshold to pass.
        %br
      %div
        <form action=#{redirect_url} method="GET">
        <input name="score" type="text"/>
        %br
        %br
        <input type="submit">
        </form>
        - if score > 0 && score < 15000
          %h2 Try again!
    %a.link_back{ :href => "/day_1" }
      %h3 Day 1
    %a{ :href => "mailto:helpmequarankobi@hotmail.com" }
      %h3.help help!
