:css
  body {
    background: black
  }
  .tiled-image {
    background-image: url("https://www.iamexpat.nl/sites/default/files/styles/ogimage_thumb/public/expat-management-travel-restrictions.jpg");
  }
  .contents {
    color: white;
    font-family: "arial";
    text-align: center;
    padding-top: 10%
  }
  h1 {
    font-size: 4em;
    text-shadow:2px 2px 8px #FF0000;
  }
  h2 {
    font-size: 2em;
    text-shadow:2px 2px 8px #FF0000;
  }
  .container {
    font-size: 5em;
  }

%body.tiled-image
  %div.contents
    %h1
      Nice job patient person!
    %br
    %h2
      the next
