<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <style>
    body {
        background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.OQpDvGpr5uo0XB3z4n0EMgHaEK%26pid%3DApi&f=1");
        background-size: 100%
    }
    .image {
        position: absolute;
        z-index: 9;
        text-align: center;
        cursor: move;
        border-style: solid;
        scale: 65%
    }
    .back_links {
        font-size: 2em;
        margin-top: 60vh;
    }
    .home_link {
        width: 10vw;

    }
    .help {
        background-color: yellow
    }
  </style>
</head>

<body>
  <a href="/">
    <img class="home_link" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.geopoll.com%2Fwp-content%2Fuploads%2F2017%2F12%2Fcartoon-house.png&f=1&nofb=1">
  </a>
  <img id="1" class="image" src="1.png" style="top: 8px; left: -12px;"/>
  <img id="2" class="image" src="2.png" style="top: -50px; left: 345px;"/>
  <img id="3" class="image" src="3.png" style="top: 223px; left: 794px;"/>
  <img id="4" class="image" src="4.png" style="top: 259px; left: 310px;"/>
  <div class="back_links">
    <a href="/day_1">day 1</a></br>
    <a href="/day_2?score=15000">day 2</a></br>
    <a href="/day_3">day 3</a></br>
    <a href="/day_4">day 4</a></br>
    <a class="help" href="mailto:helpmequarankobi@hotmail.com">help!</a></br>
  </div>
</body>
</html>
