:css
  body {
    background-image: url("https://datingasociopath.files.wordpress.com/2013/05/isolation.png");
    color: white;
    font-family: "arial";
    text-align: center;
    padding-top: 10%
  }
  h1 {
    font-size: 4em;
    text-shadow: 1px 1px 2px black
  }
  h2 {
    font-size: 2em
    text-shadow: 1px 1px 2px black
  }

.body
  %h1
    You made it!
  %br
  %h2
    Not only to the country, but through our MyStErIoUs PuZzLe too!
    %br
    Check back later for the next hint...
