<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>QuaranKobi</title>
  <style>
    .bmo {
        margin-left: 30vw;
        background-image: url("bmo-detective.jpg");
        box-shadow: 0 0 12px 12px aliceblue inset;
        height: 50vh;
        width: 40vw;
        max-height: 400px;
        max-width: 600px;
        border-radius:50%;
        border-style: none;
    }
    body {
        font-size: 1.5em;
        background-color: aliceblue;
        font-family: arial;
    }
    .canvas {
        width: 40vw;
        height: 70vh;
        background: url('connectdots.png') center;
        background-size: 100%;
        background-repeat: no-repeat;
        max-width: 800px;
    }
    .home_link {
        width: 10vw;
        border-radius: 20px
    }
    .help {
        background-color: yellow
    }
    .header {
        width: 10vw;
        float: left;
    }
    td {
        padding-left: 1em;
        padding-right: 1em;
    }
    button {
        padding: 1em;
        padding-left: 2em;
        padding-right: 2em;
        border-radius: 10px;
        cursor: pointer;
        outline: none;
    }
    .undo {
        border-color: yellow;
        background-color: yellow;
    }
    .clear {
        border-color: salmon;
        background-color: salmon;
    }
  </style>
</head>
<body>
  <div class="header">
    <a href="/">
      <img class="home_link" src="homebutton.png">
    </a>
    <% if !name %>
    <form action="/set_name" method="POST">
      <label for="Name">Hey tell me your name</label>
      <input id="Name" name="Name" type="text"/>
      <br>
      <input value="go on then" type="submit">
    </form>
    <% end %>
    <div class="back_links">
      <a href="/day_1">day 1</a></br>
      <a href="/day_2">day 2</a></br>
      <a href="/day_3">day 3</a></br>
      <a href="/day_4">day 4</a></br>
      <a href="/day_5">day 5</a></br>
      <a href="/day_6">day 6</a></br>
      <a href="/day_7">day 7</a></br>
      <a href="/day_8">day 8</a></br>
      <a href="/day_9">day 9</a></br>
      <a href="/day_10">day 10</a></br>
      <a class="help" href="mailto:helpmequarankobi@hotmail.com">help!</a></br>
    </div>
  </div>
  <% if completed %>
  <div style="text-align: center">
    <div class="bmo"></div>
    <h1>Great work kid, heres the code:</h1>
    <h1> -.. &nbsp; &nbsp; .... &nbsp; &nbsp; -. &nbsp; &nbsp; . &nbsp; &nbsp; -. &nbsp; &nbsp; .- &nbsp; &nbsp; --. &nbsp; &nbsp; ...- &nbsp; &nbsp; .- &nbsp; &nbsp; .-.</h1>
  </div>
  <% else %>
  <table>
    <tr>
      <td>
      </td>
      <td>
        <canvas id="dots" class="canvas">
        </canvas>
        <table>
          <tr>
            <td>
              <form method="GET">
                <input type="text" name="code">
                <input type="submit" value="GO">
              </form>
              <% if code && code.length > 0 %>
              <br>
              <h1>NO!</h1>
              <% end %>
            </td>
            <td>
              <button class="undo" id="undo">Oops!</button>
            </td>
            <td>
              <button class="clear" id="clear">Fuck it all!</button>
            </td>
          </tr>
        </table>
      </td>
      <td>
        P6 > K6 > J7 > J6 > K5 > P5
        <br>
        D3 > C3 > B4 > B2 > D2 > E3
        <br>
        E16 > L16 > K11 > E11 >E16
        <br>
        E9 > G9
        <br>
        K3 > F1 > F3 > G2 > I3
        <br>
        K9 > L9
        <br>
        C7 > C5 > E5 > F6 > F7 > E7 > E6 > C6
        <br>
        M18 > R17 > R4 > N3
        <br>
        I6 > H5 > I5 > I6
        <br>
        C4 > D17 > M18 > N17 > N3 > D3 >C4
        <br>
        F14 > F15 > G15 > G14
        <br>
        K3 > F1 > F3 > G2 > I3
        <br>
        G13 > H12 > I13
        <br>
        Q9 > Q7 > O7 > O9 > Q9
        <br>
        O12 > Q12 > P11 > Q10 > O10
        <br>
        O15 > Q15 > Q13 > P14 > P15> P14> O13 > O15
      </td>
  </table>
  <% end %>
</body>
<script>
  let data = {
      canvas: null,
      ctx: null,
      start: null,
      offset: null,
      paths: [],
      ip: null
  };

  function getPos(el) {
    for (var lx=0, ly=0;
         el != null;
         lx += el.offsetLeft, ly += el.offsetTop, el = el.offsetParent);
    return {x: lx,y: ly};
  }

  const prepCanvas = () => {
      let res = window.devicePixelRatio || 1;
      let scale = 1 / res;
      data.canvas = document.getElementById('dots');
      data.offset = getPos(data.canvas);

      data.ctx = data.canvas.getContext('2d');

      let offset = getPos(data.canvas);
      data.canvas.width = window.innerWidth * 0.4 * res;
      data.canvas.height = window.innerHeight * 0.7 * res;

      data.ctx.scale(res, res);
      data.canvas.addEventListener('mousedown', e => handleClick(e));
      document.getElementById("undo").addEventListener("mousedown", e => undo())
      document.getElementById("clear").addEventListener("mousedown", e => clear())
  }

  const prepHistory = async () => {
      let response = await fetch('/ip')
      let body = await response.json()
      data.ip = body.ip

      response = await fetch('/day_11_history')
      body = await response.json()
      data.paths = body.history
      drawPaths()
  }

  const handleClick = (e) => {
      let point = {x: e.pageX - data.offset.x, y: e.pageY - data.offset.y}
      if (data.start) {
          data.paths.push({start: data.start, end: point});
          drawPaths()
          saveHistory(data.paths)
          data.start = null
      } else {
          data.start = point
      }
  }

  const drawLine = (start, end) => {
      data.ctx.beginPath();
      data.ctx.lineWidth = 5;
      data.ctx.strokeStyle = '#00897B';
      data.ctx.moveTo(start.x, start.y);
      data.ctx.lineTo(end.x, end.y);
      data.ctx.stroke();
      data.ctx.closePath();
  }

  const saveHistory = async (history) => {
      fetch('/day_11_history', {
          method: 'PUT',
          body: JSON.stringify({history: history})
      })
  }

  const clear = () => {
      data.paths = []
      drawPaths()
      saveHistory(data.paths)
  }

  const drawPaths = () => {
      // delete everything
      data.ctx.clearRect(0,0,data.canvas.width,data.canvas.height);
      // draw all the paths in the paths array
      data.paths.forEach(path => {
          drawLine(path.start, path.end)
      })
  }

  const undo = () => {
      data.paths.pop()
      drawPaths()
  }

  prepCanvas();
  prepHistory();
</script>
</html>
