<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>QuaranKobi</title>
  <style>
    label {
        font-size: 2em;
    }
    body {
        font-family: arial;
        backdrop-filter: blur(2px);
        color: white  ;
        text-size: 1.5em;
        text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    }
    .tiled-image {
        background: url("mouth.gif");
        background-size: 50%;
    }
    h2 {
      font-size: 3em;
    }
    .header {
        position: absolute;
        width: 10vw;
        z-index: 10;
    }
    .content {
        font-family: "arial";
        text-align: center;
        padding-top: 30vh;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .back_links {
        font-size: 2em;
    }
    .home_link {
    width: 10vw;
    border-radius: 20px
    }
    .help {
        background-color: yellow
    }
    button {

        padding: 0.5em;
        font-size: 3em;
        padding-left: 1em;
        padding-right: 1em;
        color: white;
        font-weight: bold;
        border-radius: 20px;
    }
    #go {
        background-color: blue;
        border-color: blue;
    }
    #reset {
        background-color: red;
        border-color: red;
        font-size: 1em;
        border-radius: 10px;
    }
    #words {
        color: grey;
    }
  </style>
</head>
<body class="tiled-image">
  <div class="header">
    <a href="/">
      <img class="home_link" src="homebutton.png">
    </a>
    <% if !name %>
    <form action="/set_name" method="POST">
      <label for="Name">Hey tell me your name</label>
      <input id="Name" name="Name" type="text"/>
      <br>
      <input value="go on then" type="submit">
    </form>
    <% end %>
    <div class="back_links">
      <a href="/day_1">day 1</a></br>
      <a href="/day_2">day 2</a></br>
      <a href="/day_3">day 3</a></br>
      <a href="/day_4">day 4</a></br>
      <a href="/day_5">day 5</a></br>
      <a href="/day_6">day 6</a></br>
      <a href="/day_7">day 7</a></br>
      <a href="/day_8">day 8</a></br>
      <a class="help" href="mailto:helpmequarankobi@hotmail.com">help!</a></br>
    </div>
  </div>

  <div class="content">
    <button id="go">GO</button>
    <h2 id="twister"></h2>
    <h2 id="words"></h2>
  </div>
</body>
<script type="text/javascript"  src="day_9.js"></script>
</html>
