<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>QuaranKobi</title>
  <style>
    .bojack {
        text-align: center;
        padding-top: 20vh;
    }
  </style>
</head>
<body>
  <div class="bojack">
    <iframe
      style="padding: auto"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/RD3icaZLp6Q"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>
</body>
</html>
